img{
    width: 30%;
    margin-left: 38%;
}
header{
    padding: 0!important;
}
.nav{
    margin-right: 20px;
}
.Lien{
    color: black;
}
.nav2{
    background-color: #cd1ab2;
    height: 100px;
}
H3{
    text-align: center;
    
    
}
p{
    margin-left: 20px;
    
}
H1{
    text-align: center;
}

body{
    background-color: #cd1ab2;
    height: 100px;
}
.nav{
    margin-right: 20px;
}




.Lien{
    color: black;
}
.Titre{
    color: white;
    text-align: center;  
    
}                      
i{
    font-size: 50px;
    display: inline;
    margin-right: 9px;
    }
main  {
    background-color:black;
    
    
}
.bas {
    display: flex;
    justify-content: center;
    background-color: #cd1ab2;
}
footer{
    background-color: #cd1ab2;
}
     

.rouge{
    padding-left: 400px;
    padding-right: 400px;
}





.formulaire{
    background-color: #cd1ab2;
    width: 100%;
}

  
   section, ul {
    --pico-block-spacing-vertical: 0;
    --pico-typography-spacing-vertical: 0;
    margin: 0;
   }
   
   #map {
    height: 400px;
    width: 800px;
    margin-left: 200px;
  }
  main h1{
    color:white;
  }
  main h2{
    color: white;
  }
  main ul{
    color: white;
  }
  main li{
    color: white;
  }
  main h3{
    color: white;
  }
  main p{
    color: white;
  }
  